extends ../layout
block content
    .container
        .row
            form.form-horizontal(method="post", action='/admin/modifyCategory')
                .form-group
                    label.col-sm-2.control-laber(for="inputCategory") Category
                    .col-sm-10
                        //- input#inputCategory.form-control(type="text", name="category[name]", value="#{category.name}")
                        input#inputCategory.form-control(type="text", name="category[name]", value=category.name)
                .form-group
                    .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type="submit") Record